.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weather-info{
   position: absolute;
   top: 35%;
   background-color: lightblue;
   width: 250px;
   height: 250px;
   align-items: center;
   border-radius: 5%;
   text-align: center;
   
}

h1{
 position: absolute;
 top: 20%;
}

button, input{
    position: absolute;
    top: 30%;
}

button{
    right: 43%;
    width: 20px;
    height: 20px;
}